.App{
    width: 412px;
    height: 416px;
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);   
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 130px;
}
.container{
    height: 416px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 341px 
}
.number-checkbox{
    display: flex;
    justify-content: space-between;
}